p * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #efefee;
}
header{
    width: 100%;
    height: 80px;
    background-color: #727272;
}

.layout-grid {
    width: 100%;
    height: 100%;
    max-width: 992px;
    margin: 0 auto;
    background-color: rgb(238, 238, 192);
}
.header-flex {
    display: flex;
    justify-content: space-between;
}
h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    font-weight: 300;
}
nav {
    width: 400px;
    height: 100%;
    border: 3px solid white;
}